.form-checkout{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.form-checkout input{
  width: 300px;
  height: 30px;
  border: none;
  padding: 3px 10px;
}

.form-checkout button{
  border: none;
  background-color: rgb(0, 119, 255);
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 10px;
}

.form-checkout button:hover{
  background-color: rgb(51, 146, 255);
}