.card{
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
}

.card img{
  height: 100%;
  object-fit: cover;
}

.texto-card{
  padding: 10px;
}

.card a{
  text-decoration: none;
  color: white;
  display: block;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(30, 94, 189);
}