
.card-carrito{
  display: flex;
  position: relative;
  box-shadow: 0 0 10px rgb(204, 204, 204);
  background-color: white;
  max-width: 400px;
  width: 360px;
}

.contenedor-img{
  width: 110px;
  height: 110px;
  overflow: hidden;
}

.card-carrito img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-datos{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.boton-eliminar-carrito{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.h2-total{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: fit-content;
  height: fit-content;
}

.contenedor-carrito-productos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.boton-vaciarCarrito{
  padding: 5px;
  width: 360px;
  font-size: 20px;
  margin: 3px 0;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 15px;
  border: none;
  transition: all 0.15s linear;
  cursor: pointer;
}

.boton-vaciarCarrito:hover{
  background-color: rgb(255, 75, 75);
}

.carrito-vacio{
  margin: 10px auto;
  width: 360px;
  text-align: center;
}

.mostrarTotal{
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px rgb(201, 201, 201);
  min-width: 360px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.boton-comprar{
  display: block;
  padding: 10px;
  background-color: rgb(40, 114, 211);
  text-decoration: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.boton-comprar:hover{
  background-color: rgb(85, 150, 236);
}