header{
  background-color: black;
  padding: 20px 0;
}


.lista{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lista li{
  list-style: none;
}

.lista li a{
  text-decoration: none;
  color: white;
}